<% layout('/layouts/boilerplate') %>
    <% for(let i = 0; i < data.length; i++){ %>
        <section class="card shadow p-3 mb-3 bg-body rounded">
            <h2>
                <a href="/summary/<%= data[i]._id %>" class="title">
                    <%= data[i].title %>
                </a>
            </h2>
            <hr>
            <article class="description m-3">
                <%- data[i].description %>
                 <a href="/summary/<%= data[i]._id %>">[Read More...]</a>
            </article>
            <div class="icons">
                <span class="bi bi-person icon"> Prabhat Kumar</span>
                <span class="bi bi-ui-checks-grid icon"> Category</span>
                <span class="bi bi-clock icon"> <%= data[i].modifiedAt.toLocaleString() %></span>
                <span class="bi bi-calendar icon"> <%= data[i].createdAt.toLocaleString() %></span>
                <span class="bi bi-book icon"> <%= data[i].readMinutes %> Minutes</span>
            </div>
        </section>
    <% } %>

    <section class="d-flex flex-row justify-content-start card shadow p-3 mb-3 bg-body rounded">
        <% if((currentPage - 1) >= 1) { %>
            <div class="px-3 py-3">
                <a href="/summary?page=<%= currentPage - 1 %>"> Previous </a>
            </div>
        <% } else { %>
            <div class="px-3 py-3">
                <a href="#"> Previous </a>
            </div>
        <% } %> 
        <% for(let i = temp; i < temp + 3; i++){ %>
            <% if(i <= totalPages) { %>
            <div class="px-5 py-3"> 
                <a href="/summary?page=<%= i %>"><%= i %></a> 
            </div>
            <% } else {%>
                <% break; %>
                <% } %>
        <% } %>    
        <% if(totalPages > 3) { %>
            <div class="px-5 py-3"> 
                <a href="#">...</a> 
            </div>
            <div class="px-5 py-3"> 
                <a href="/summary?page=<%= totalPages %>"><%= totalPages %></a> 
            </div>
        <% } %>
        <% if((currentPage + 1) <= totalPages) { %>
            <div class="px-3 py-3">
                <a href="/summary?page=<%= currentPage + 1 %>"> Next </a>
            </div>
        <% } else { %>
            <div class="px-3 py-3">
                <a href="#"> Next </a>
            </div>
        <% } %>    
    </section>
    