<% layout('/layouts/boilerplate') %>
    <section class="card shadow p-3 mb-3 mt-3 bg-body rounded">
        <h2 class="title">
            <%= data.title %>
        </h2>
        <hr>
        <article class="description">
            <%= data.description %>
        </article>
        <div class="icons">
            <span class="bi bi-person icon"> Prabhat Kumar</span>
            <span class="bi bi-tag icon"> Tags</span>
            <span class="bi bi-ui-checks-grid icon"> Category</span>
            <span class="bi bi-clock icon"> <%= data.modifiedAt.toLocaleString() %></span>
            <span class="bi bi-calendar icon"> <%= data.createdAt.toLocaleString() %></span>
            <span class="bi bi-book icon"> <%= data.readMinutes %> Minutes</span>
        </div>
    </section>
