<% layout('/layouts/boilerplate') %>

<h1>Showing results for <%= tag %> </h1>
<% for(let i = 0; i < data.length; i++){ %>
    <section class="card shadow p-3 mb-3 bg-body rounded">
        <h2>
            <a href="/summary/<%= data[i]._id %>" class="title">
                <%= data[i].title %>
            </a>
        </h2>
        <hr>
        <article class="description m-3">
            <%- data[i].description %>
             <a href="/summary/<%= data[i]._id %>">[Read More...]</a>
        </article>
        <hr>
            <div class="description text-muted container cardFooter">
                <div class="row">
                    <div class="col-sm">Modified at <%= data[i].modifiedAt.toDateString() %></div>
                    <div class="col-sm">Created at <%= data[i].createdAt.toDateString() %></div>
                    <% if (data[i].readMinutes > 1) { %>
                        <div class="col-sm"> <%= data[i].readMinutes %> minutes read</div>
                    <% } else { %>
                        <div class="col-sm"> <%= data[i].readMinutes %> minute read</div>
                    <% } %>
                </div>
            </div>
    </section>
<% } %>

<section class="pagination d-flex flex-row flex-wrap justify-content-center card shadow p-2 mb-3 bg-body rounded">
    <% if((currentPage - 1) >= 1) { %>
        <div class="px-3 py-3">
            <a href="/summary/tags/<%= tag %>?page=<%= currentPage - 1 %>"> Previous </a>
        </div>
    <% } else { %>
        <div class="px-3 py-3">
            <a href="#"> Previous </a>
        </div>
    <% } %> 
    <% for(let i = temp; i < temp + 3; i++){ %>
        <% if(i <= totalPages) { %>
        <div class="px-5 py-3"> 
            <a href="/summary/tags/<%= tag %>?page=<%= i %>"><%= i %></a> 
        </div>
        <% } else {%>
            <% break; %>
            <% } %>
    <% } %>    
    <% if(totalPages > 3) { %>
        <div class="px-5 py-3"> 
            <a href="#">...</a> 
        </div>
        <div class="px-5 py-3"> 
            <a href="/summary/tags/<%= tag %>?page=<%= totalPages %>"><%= totalPages %></a> 
        </div>
    <% } %>
    <% if((currentPage + 1) <= totalPages) { %>
        <div class="px-3 py-3">
            <a href="/summary/tags/<%= tag %>?page=<%= currentPage + 1 %>"> Next </a>
        </div>
    <% } else { %>
        <div class="px-3 py-3">
            <a href="#"> Next </a>
        </div>
    <% } %>    
</section>
